/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body{
    background-image: url("../img/Fondo.png");
    width: 100%;
    height: 100%;
}

.ul{
    display: flex;
    list-style: none;
  }

.card{
    width: 98%;
    height: 100%;
    margin: 10px;
    background: rgb(240, 240, 240);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }

  .card1{
    width: 100%;
    height: 100%;
    margin: 10px;
    background: #CF2F35;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }

  .card2{
    width: 65%;
    height: 100%;    
    background: rgb(238, 238, 238);
    text-align: center;
    border-radius: 10px;    
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }

  .card3{
    width: 35%;
    height: 100%;    
    background: rgb(241, 241, 241);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin-left: 1%;        
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }

  .lineaver{
    border-left: 1px solid #adadad;
    height: 138px;  
  }

  .btn1{
    width: 50%;
    height: 50%;
    background-color: #FAC401;
    border-color: #FAC401;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }