@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: url("../img/fondoregistro.png");
}
.container{
  /*max-width: 1200px;
  width: 140%;*/
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2  20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #CF2F35;
}
  form .gender-details .gender-title{
    font-size: 100px;
    font-weight: 500;
  }
  form .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
  }
  form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
    #dot-1:checked ~ .category label .one,
    #dot-2:checked ~ .category label .two,
    #dot-3:checked ~ .category label .three{
      background: #CF2F35;
      border-color: #737373;
    }
    form input [type="radio"]{
      display: none;
    }
    form .button{
      height: 45px;
      margin: 35px 0;
    }
    form .button input{
      height: 100%;
      width: 100%;
      border-radius: 5px;
      border: none;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      cursor: pointer;
      transition: all 0.3s ease;
      background: linear-gradient(135deg, #737373, #CF2F35);
    }
    form .button input:hover{
      background: linear-gradient(-135deg, #737373, #CF2F35);
      }
    @media(max-width: 584px){
      .container{
        max-width: 100%;
}
form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
      }
      form .category{
        width: 100%
      }
      .content form .user-details{
        max-height: 300px;
        overflow-y: scroll;
      }
      .user-details::-webkit-scrollbar{
        width: 5px;
      }
      }
    @media(max-width: 459px){
      .container .content .category{
        flex-direction: column;
      }
    }
.input_div{
  display: flex;
  flex-direction:column;
}
.input_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.title_form{
  font-family: 'Alkalami', serif;
  font-family: 'Roboto Condensed', sans-serif;
}
.img{
  width: 150px;
  padding: 20px; 
  margin: 10px; 
  float: right;
}

.contenedor-btn-file input[type="file"]{
  appearance: none;
  display: none;
  visibility: hidden;
  opacity: 0;
  
}

.text{
  
}

.contenedor-btn-file{
  display: inline-block;
  position: relative;
  background-color: #CF2F35;
  color: #fff;
  border: 0;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0,0,0,0.15);
  overflow: hidden;
  transition: ease-out 120ms background-color;
  margin-right: 1rem;
  
}

.contenedor-btn-file:hover{
  background-color: #CF2F35;
}
.contenedor-btn-file:active{
  background-color: #CF2F35;
}
.contenedor-btn-file > i {
  margin-right: 15px;
}

.contenedor-btn-file label  {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  cursor: pointer;
  
}

.contenedor-btn-file.bordeado{
  background-color: #fff;
  border: 2px solid #CF2F35;
  color: #CF2F35;
  
}

.contenedor-btn-file.bordeado:hover{
  background-color: #CF2F35;
  color: #fff;
  
}


.container-superior {
  width: 1400px; 
  height: 250px; 
  background: #CF2F35;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
}

h5{
  color: #fff;
}

         
.btn-grad {
  background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
  margin: 10px;
  padding: 15px 80px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  align-items: center;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-enviar{
  align-items: center;
  text-align: center;
}

