body{
    background-image: "{{ url_for('static', filename='img/fondoinicio.png')}}";
    background-repeat: no-repeat;
    background-size: auto; 
}

.logo img {

    max-width: 100%;
    height: auto;
  }


