
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style1.css')}}"/>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
      <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet"/>
    </head>
    <body>
        <section class="home">      
            <section class="main">          
                <div class="users">             
                    <div class="card0">
                        <div class="card2">
                            <head>
                                <form action="/formulario" method="post">
                                        <form action="/formulario" method="post" enctype="multipart/form-data">
                                            <div class="container row">
                                              <div class="container-superior">
                                                <div class="card4">
                                                  <div class="title title_form"><b> Datos Personales: </b></div>
                                                  <br>
                                                  <div class="container row">
                                                      <form role="form">
                                                          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                              <label for="exampleInputEmail1">Nombres:</label>
                                                              <input type="text" class="form-control" name="nombre" required="required" value="{{usuario['Nombres']}}" placeholder="Ingrese su Nombre">
                                                          </div>
                                                          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                              <label for="exampleInputEmail1">Apellidos:</label>
                                                              <input type="text" class="form-control" name="apellidos" required="required" value="{{usuario['Apellidos']}}" placeholder="Ingrese su Apellido">
                                                          </div>
                                                          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                              <label for="exampleInputPassword1">Edad:</label>
                                                              <input type="text" class="form-control" name="edad" required="required" value="{{usuario['Edad']}}">
                                                          </div>
                                                          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                              <label for="exampleInputPassword1">Genero:</label>
                                                              <input type="text" class="form-control" name="genero" required="required" value="{{usuario['Sexo']}}">
                                                          </div>
                                                          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                            <label for="exampleInputPassword1">Cedula:</label>
                                                            <input type="text" class="form-control" name="cedula" required="required" value="{{usuario['Cedula']}}">
                                                          </div>
                                                          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                            <label for="exampleInputPassword1">Celular Personal:</label>
                                                            <input type="text" class="form-control" name="celular_personal" required="required" value="{{usuario['Celular personal']}}">
                                                          </div>
                                                          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                            <label for="exampleInputPassword1">Correo Electronico:</label>
                                                            <input type="text" class="form-control" name="correo_personal" required="required" value="{{usuario['Correo personal']}}">
                                                          </div>
                                                          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                            <label for="exampleInputPassword1">EPS:</label>
                                                            <input type="text" class="form-control" name="eps" required="required" value="{{usuario['EPS']}}">
                                                          </div>
                                                          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                            <label for="exampleInputPassword1">Regional:</label>
                                                            <input type="text" class="form-control" name="ciudad" required="required" value="{{usuario['Regional']}}">
                                                          </div>
                                                          <br>
                                                          <br>
                                                          <div class="container row">
                                                            <div class="container-superior">
                                                              <div class="card4">
                                                                <div class="title title_form"><b> Datos Corporativos: </b></div>
                                                                  <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                                    <label for="exampleInputEmail1">Celular Corporativo:</label>
                                                                    <input type="text" class="form-control" name="celular_corporativo" required="required" value="{{usuario['Celular corporativo']}}">
                                                                  </div>
                                                                  <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                                    <label for="exampleInputEmail1">Dirección a la que pertenece:</label>
                                                                    <input type="text" class="form-control" name="direccion" required="required" value="{{usuario['Area de gerencia']}}">
                                                                  </div>
                                                                  <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                                    <label for="exampleInputPassword1">Gerencia a la que pertenece:</label>
                                                                    <input type="text" class="form-control" name="gerencia" required="required" value="{{usuario['Gerencia']}}">
                                                                  </div>
                                                                  <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                                    <label for="exampleInputPassword1">Nombre de su Gerente o Jefe:</label>
                                                                    <input type="text" class="form-control" name="nombre_gerente" required="required" value="{{usuario['Nombre gerente']}}">
                                                                  </div>
                                                                  <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                                    <label for="exampleInputPassword1">Celular de contacto gerente:</label>
                                                                    <input type="text" class="form-control" name="celular_gerente"required="required" value="{{usuario['Celular gerente']}}">
                                                                  </div>
                                                                  <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                                    <label for="exampleInputPassword1">Correo Corporativo:</label>
                                                                    <input type="text" class="form-control" name="correo_corporativo" required="required" value="{{usuario['Correo corporativo']}}">
                                                                  </div>
                                                                  <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                                    <label for="exampleInputPassword1">Correo Gerente:</label>
                                                                    <input type="text" class="form-control" name="correo_gerente" required="required" value="{{usuario['Correo gerente']}}">
                                                                  </div>
                                                            </div>
                                                            </div>
                                                          </div>
                                                          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                            <label for="exampleInputPassword1">Universidad:</label>
                                                            <input type="text" class="form-control" name="universidad" required="required" value="{{usuario['Universidad']}}">
                                                          </div>
                                                          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                            <label for="exampleInputPassword1">Carrera a la que pertenece:</label>
                                                            <input type="text" class="form-control" name="carrera" required="required" value="{{usuario['Carrera']}}">
                                                          </div>
                                                          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                            <label for="exampleInputPassword1">Tutor encargado de la practica:</label>
                                                            <input type="text" class="form-control" name="nombre_tutor" required="required" value="{{usuario['Nombre tutor']}}">
                                                          </div>
                                                          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                            <label for="exampleInputPassword1">Correo del Tutor:</label>
                                                            <input type="text" class="form-control" name="correo_tutor" required="required" value="{{usuario['Correo tutor']}}">
                                                          </div>
                                                          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                            <label for="exampleInputPassword1">Celular del tutor:</label>
                                                            <input type="text" class="form-control" name="celular_tutor" required="required" value="{{usuario['Celular tutor']}}">
                                                          </div>
                                                          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                            <label for="exampleInputPassword1">Nombre del contacto de emergencia:</label>
                                                            <input type="text" class="form-control" name="nombre_emergencia" required="required" value="{{usuario['Nombre emergencia']}}">
                                                          </div>
                                                          <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                                                            <label for="exampleInputPassword1">Numero del contacto de emergencia:</label>
                                                            <input type="text" class="form-control" name="numero_emergencia" required="required" value="{{usuario['Numero emergencia']}}">
                                                          </div>
                                                      </form>
                                                </div>
                                                <br>
                                                </div>
                                              </div>  
                                            </div>
                                            <br>
                                        </form>                                                     
                                </form>                                
                              </head>
                        </div>
                    </div>
                </div>         
            </section>
        </section>            
    </body>