{% extends "base.html" %}

{% block content %}

    <br/>
      <div class="jumbotron">
        <h1 class="display-4">Lista de Practicantes</h1>
        <img src="/app/static/img/claro_circulo_3d.png"/>
        <h2>Generación XXI </h2>
        <p class="lead"> Esta pagina ofrece la actualización de datos personales</p>
        <hr class="my-4">
        {% if smessage %}
          <div class="alert alert-success">
            {{ smessage }}
          </div>
        {% endif %}
        {% if umessage %}
          <div class="alert alert-danger">
            {{ umessage }}
          </div>
        {% endif %}
        <div class="form-outline mb-4">
            <input type="search" class="form-control" id="datatable-search-input">
            <label class="form-label" for="datatable-search-input">Search</label>
        </div>
          <div id="datatable">
          </div>
     </div>

{% endblock %}
