{% extends "base.html" %}

{% block content %}

<body>
    <br/>
      <div class="jumbotron">
        <h1 class="display-4">Lista de Practicantes</h1>
        
        <div class="form-outline mb-4">
            <input type="search" class="form-control" id="datatable-search-input">
            <label class="form-label" for="datatable-search-input"></label>
        </div>
      <div class="container">
        <div class="row">
          <div class="clo-lg-6">
            <table id="tablapracticantes" class="table table-bordered">
              <thead>
                <tr class="bg-dark text-light">
                  <th scope="col">Cédula</th>
                  <th scope="col">Nombres</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Edad</th>
                  <th scope="col">EPS</th>
                  <th scope="col">Sexo</th>
                  <th scope="col">Correo corporativo</th>
                  <th scope="col">Correo personal</th>
                  <th scope="col">Celular personal</th>
                  <th scope="col">Celular corporativo</th>
                  <th scope="col">Área de gerencia</th>
                  <th scope="col">Gerencia</th>
                  <th scope="col">Nombre de Gerente</th>
                  <th scope="col">Universidad</th>
                  <th scope="col">Carrera</th>
                  <th scope="col">Nombre Tutor</th>
                  <th scope="col">Correo Tutor</th>
                  <th scope="col">Celular Tutor</th>
                  <th scope="col">Nombre Emergencia</th>
                  <th scope="col">Celular Emergencia</th>

                
                </tr>
              </thead>
                <tbody id="bodypracticantes">
                  <th scope="col">{{usuario[]['Cedula']}}</th>
                  <!-- <th scope="col">{{usuario['juliancely@clarocomco']['Nombres']}}</th>
                  <th scope="col">{{usuario['juliancely@clarocomco']['Apellidos']}}</th>
                  <th scope="col">{{usuario['juliancely@clarocomco']['Edad']}}</th>
                  <th scope="col">{{usuario['juliancely@clarocomco']['EPS']}}</th>
                  <th scope="col">{{usuario['juliancely@clarocomco']['Sexo']}}</th>
                  <th scope="col">{{usuario['juliancely@clarocomco']['Correo corporativo']}}</th> -->
                  
                </tbody>
            </table>
          </div>
        </div>
      </div>
     </div>

    <script type="module">

      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-app.js";

      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyDBP7Is2dfzsIzLA-o222p2K2VxoSsFw0c",
        authDomain: "generacion-xxi.firebaseapp.com",
        databaseURL: "https://generacion-xxi-default-rtdb.firebaseio.com",
        projectId: "generacion-xxi",
        storageBucket: "generacion-xxi.appspot.com",
        messagingSenderId: "347199104837",
        appId: "1:347199104837:web:e859d53b27b23d1024c02c",
        measurementId: "G-YNKS2S6VJT"
      };



      import {getDatabase, ref, child, onVale, get}
      from "https://www.gstatic.com/firebase/9.1.1/firebase-database.js"
  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
      
      function GetAllEstudiantes(){
        const dbRef = rev(db);
        
        get(child(dbRef, "Estudiantes"))
        .then((snapshot)=>{
          var estudiantes = []

          snapshot.fotEach(childSnapshot => {
              estudiantes.push(childSnapshot.val())
          });
        AddAllItemsToTable(Estudiantes);  
        
        })
      }
      window.onload = GetAllEstudiantes; 

    </script>

    </body>
{% endblock %}
