{% extends "base.html" %}

{% block content %}

<body class="body" background="{{ url_for('static', filename='img/fondoregistro.png')}}"  background-repeat: no-repeat>
</body>
<br />
<!---Create Account-->
{% if smessage %}
<div class="alert alert-success">
  {{ smessage }}
</div>
{% endif %}
{% if umessage %}
<div class="alert alert-danger">
  {{ umessage }}
</div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Crear nueva cuenta</h5>
          <form action="/create_account" method="post">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" name="name" placeholder="correo@claro.com.co">
              <label for="floatingInput">Correo electronico corporativo</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" name="conf_name" placeholder="correo@claro.com.co">
              <label for="floatingInput">Confirme el correo electrónico</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" name="password" placeholder="Digite una contraseña">
              <label for="floatingPassword">Contraseña</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" name="conf_password" placeholder="Digite una contraseña">
              <label for="floatingPassword">Confirme la contraseña</label>
            </div>
            <div class="d-grid">
              <button style="color: white; background-color: #cf2f35;"
                class="btn btn-login text-uppercase fw-bold" type="submit"
                name="submit">Registrarme</button>
              <br>
              <a href="/index" class="text-decoration-none text-center">Ya tengo una cuenta</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}