{% extends "base.html" %}

{% block content %}


    <br/>
      <div class="jumbotron">
        <h1 class="display-4">Wow!</h1>
        <p class="lead">Haz olvidado tu contrasela? No te preocupes. Puedes reiniciarla aquí mismo</p>
        <hr class="my-4">
        {% if smessage %}
          <div class="alert alert-success">
            {{ smessage }}
          </div>
        {% endif %}
        {% if umessage %}
          <div class="alert alert-danger">
            {{ umessage }}
          </div>
        {% endif %}
        <form action="/forgot_password" method="post">
            <div class="form-group">
            <label for="exampleInputEmail1">Correo Electrónico</label>
            <input type="email" class="form-control" name="name"  placeholder="Enter email">
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
        </form
     </div>

{% endblock %}
