{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
    <br/>
      <div class="jumbotron">
        <h1 class="display-4">Wow!</h1>
        <h5 class="lead">Coloca tu correo electrónico</h5>
        {% if smessage %}
          <div class="alert alert-success">
            {{ smessage }}
          </div>
        {% endif %}
        {% if umessage %}
          <div class="alert alert-danger">
            {{ umessage }}
          </div>
        {% endif %}
        <form action="/forgot_password" method="post">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" name="name" placeholder="name@example.com">
            <label for="floatingInput">Correo Electrónico</label>
          </div>
          <div class="col-sm">
            <button class= "btn login text-uppercase fw-bold" style="width: 350px; background-color: #FAC401; color: white;" type="submit" name="enviar">Enviar</button>
          </div>
        </form
     </div>
    </div>
  </div>
</div>
</div>
</div>

{% endblock %}
