{% extends "base.html" %}

{% block content %}
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/formulario.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alkalami&family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="title title_form"><b> Registro de Practicantes Generación XXI</b></div>
    <div>
      <img src="../static/img/generacionxxi-negro.png" class="img">
    </div>
    <br>
    <div class="title title_form"><b> Datos Personales: </b></div>
    <br>
    <div class="content">
      <form action="#">
        <div class="input_container">
          <div class="input_div">
            <span class="details title_form"> Nombre: </span>
            <input type="text" required>
          </div>
          <div class="input_div">
            <span class="details title_form"> Apellidos: </span>
            <input type="text" required>
          </div>
          <div class="input_div">
            <span class="details title_form"> Edad: </span>
            <input type="text" required>
          </div>
          <div class="input_div">
            <span class="details title_form"> Genero: </span>
            <select name="Genero" class="details">
              <option> </option>
              <option> Hombre </option>
              <option> Mujer </option>
            </select>
          </div>
          <div class="input_div">
            <span class="details title_form"> Correo Electrónico: </span>
            <input type="text" required>
          </div>
          <div class="input_div">
            <span class="details title_form"> EPS: </span>
            <input type="text" required>
          </div>
          <div class="input_div">
            <span class="details title_form"> Regional: </span>
            <select name="Ciudad" class="details">
              <option> </option>
              <option> Bogotá </option>
              <option> Bucaramanga </option>
              <option> Medellín </option>
              <option> Barranquilla </option>
              <option> Cali </option>
              <option> Manizales </option>
            </select>
          </div>
        </div>
        <br>
        <div class="title title_form"><b> Datos Laborales: </b></div>
        <br>
        <div class="input_container">
          <div class="input_div">
            <span class="details title_form"> Dirección a la que pertenece: </span>
            <input type="text" required>
          </div>
          <div class="input_div">
            <span class="details title_form"> Gerencia a la que pertenece: </span>
            <input type="text" required>
          </div>
          <div class="input_div">
            <span class="details title_form"> Nombre de su Gerente o Jefe: </span>
            <input type="text" required>
          </div>
          <div class="input_div">
            <span class="details title_form"> Celular de contacto: </span>
            <input type="text" required>
          </div>
          <div class="input_div">
            <span class="details title_form"> Correo Electronico: </span>
            <input type="text" required>
          </div>
        </div>
        <br>
        <div class="title title_form"> <b>Datos Academicos: </b></div>
        <br>
        <div class="input_container">
          <div class="input_div">
            <span class="details title_form"> Universidad: </span>
            <input type="text" required>
          </div>
          <div class="input_div">
            <span class="details title_form"> Carrera a la que pertenece: </span>
            <input type="text" required>
          </div>
          <div class="input_div">
            <span class="details title_form"> Tutor encargado de la practica: </span>
            <input type="text" required>
          </div>
          <div class="input_div">
            <span class="details title_form"> Correo del tutor: </span>
            <input type="text" required>
          </div>
          <div class="input_div">
            <span class="details title_form"> Celular del tutor: </span>
            <input type="text" required>
          </div>
        </div>
        <br>
        <div class="title title_form"><b> Datos en caso de emergencia: </b></div>
        <br>
        <div class="input_container">
          <div class="input_div">
            <span class="details title_form"> Nombre del Contacto de Emergencia: </span>
            <input type="text" required>
          </div>
          <div class="input_div">
            <span class="details title_form"> Numero del Contacto de Emergencia: </span>
            <input type="text" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Registro">
        </div>
    </div>
    </form>

</html>

{% endblock %}