{% extends "base.html" %}
{% block content %}
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/formulario.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alkalami&family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container row">
    <div class="title title_form">
      <h5><b> Registro de Practicantes Generación XXI - {{usuario['Nombres']}} {{usuario['Apellidos']}}</b></h5>
    </div>
    <center>
    <div>
      <img class="img-practicante" src="{{l}}" width="100" height="100">
    </div>
    
      <div id="div-file" class="div-file">
        <p id="texto" class="texto-image"> Cargar Imagen </p>
      </div>
    </center>
    <form action="/formulario" method="post" enctype="multipart/form-data">
      <center>
      <input type="file" class="input-cargar" name="upload">
      <input type="hidden" name="userr" value="{{usuario['Correo corporativo']}}">
      </center>
      <br>
    <br>
    <div class="title title_form"><b> Datos Personales: </b></div>
    <br>
    <div class="content">
      <!--<form action="/formulario" method="post">-->
        <div class="input_container row">
          <div class="input_div">
            <span class="details title_form"> Nombre: </span>
            <input type="text"  class="text" name="nombre" required="required" value="{{usuario['Nombres']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Apellidos: </span>
            <input type="text" class="text" name="apellidos" required="required" value="{{usuario['Apellidos']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Edad: </span>
            <input type="text" class="text" name="edad" required="required" value="{{usuario['Edad']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Genero: </span>
            <input type="text" class="text" name="genero" required="required" value="{{usuario['Sexo']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Cédula: </span>
            <input type="text" class="text" name="cedula" required="required" value="{{usuario['Cedula']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Celular personal: </span>
            <input type="text" name="celular_personal" required="required" value="{{usuario['Celular personal']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Correo Electrónico: </span>
            <input type="text" name="correo_personal" required="required" value="{{usuario['Correo personal']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> EPS: </span>
            <input type="text" class="text" name="eps" required="required" value="{{usuario['EPS']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Regional: </span>
            <input type="text" class="text" name="ciudad" required="required" value="{{usuario['Regional']}}">
          </div>
        </div>
        <br>
        <div class="title title_form"><b> Datos Laborales: </b></div>
        <br>        
        <div class="input_container">
          <div class="input_div">
            <span class="details title_form"> Celular corporativo: </span>
            <input type="text" name="celular_corporativo" required="required" value="{{usuario['Celular corporativo']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Dirección a la que pertenece: </span>
            <input type="text" class="text" name="direccion" required="required" value="{{usuario['Area de gerencia']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Gerencia a la que pertenece: </span>
            <input type="text" class="text" name="gerencia" required="required" value="{{usuario['Gerencia']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Nombre de su Gerente o Jefe: </span>
            <input type="text" class="text" name="nombre_gerente" required="required" value="{{usuario['Nombre gerente']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Celular de contacto gerente: </span>
            <input type="text" class="text" name="celular_gerente"required="required" value="{{usuario['Celular gerente']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Correo Corporativo: </span>
            <input type="text" class="text" name="correo_corporativo" required="required" readonly="readonly" value="{{usuario['Correo corporativo']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Correo Gerente: </span>
            <input type="text" class="text" name="correo_gerente" required="required" value="{{usuario['Correo gerente']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Celular corporativo: </span>
            <input type="text" class="text" name="celular_corporativo" required="required" value="{{usuario['Celular corporativo']}}">
          </div>
        </div>
        <br>
        <div class="title title_form"> <b>Datos Academicos: </b></div>
        <br>
        <div class="input_container row">
          <div class="input_div">
            <span class="details title_form"> Universidad: </span>
            <input type="text" class="text" name="universidad" required="required" value="{{usuario['Universidad']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Carrera a la que pertenece: </span>
            <input type="text" class="text" name="carrera" required="required" value="{{usuario['Carrera']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Tutor encargado de la practica: </span>
            <input type="text" class="text" name="nombre_tutor" required="required" value="{{usuario['Nombre tutor']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Correo del tutor: </span>
            <input type="text" class="text" name="correo_tutor" required="required" value="{{usuario['Correo tutor']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Celular del tutor: </span>
            <input type="text" class="text" name="celular_tutor" required="required" value="{{usuario['Celular tutor']}}">
          </div>
        </div>
        <br>
        <div class="title title_form"><b> Datos en caso de emergencia: </b></div>
        <br>
        <div class="input_container row">
          <div class="input_div">
            <span class="details title_form"> Nombre del Contacto de Emergencia: </span>
            <input type="text" class="text" name="nombre_emergencia" required="required" value="{{usuario['Nombre emergencia']}}">
          </div>
          <div class="input_div">
            <span class="details title_form"> Numero del Contacto de Emergencia: </span>
            <input type="text" class="text" name="numero_emergencia" required="required" value="{{usuario['Numero emergencia']}}">
          </div>
        </div>
        <center>
        <div class="button text" >
          <button class="btn login text-uppercase fw-bold" style="width: 350px; background-color: #0096A9; color: white;" type="submit" name="Registro" >ENVIAR</button>
        </div>
        </center>
    </div>
    </form>
</html>
{% endblock %}