
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
    <link href="http://fonts.googleapis.com/css2?family=Roboto:400,700display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Trispace&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <img src="../static/img/Generacion-XXI.png" class="logo">
            <nav>
                <ul>
                    <li><a href="/index"><b>TU ESPACIO GEN XXI</b></a></li>
                    <li><a href="/evaluation"><b>EVALUA TU PRACTICANTE</b></a></li>
                    <li><a href="/faq"><b>PQR</b></a></li>
                </ul>
            </nav>
        </div>

        <div class="row">
            <div class="col">
                <h1>Bienvenidos, Practicantes Generación XXI</h1>
            </div>
            <div class="col">
                <div class="card card1">

                </div>
                <div class="card card2">

                </div>
                <div class="card card3">

                </div>
                <div class="card card4">

                </div>


            </div>
        </div>

    </div>

</body>

</html>
