{% extends "base.html" %}


{% block content %}

 <body class="body" background="{{ url_for('static', filename='img/fondoinicio.png')}}"> 
 </body>

<div class="container " style="position: relative;left: 350px;top: 30px">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Iniciar Sesión</h5>
        {% if smessage %}
          <div class="alert alert-success">
            {{ smessage }}
          </div>
        {% endif %}
        {% if umessage %}
          <div class="alert alert-danger">
            {{ umessage }}
          </div>
        {% endif %}
        <form action="/index" method="post">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" name="name" placeholder="name@example.com">
            <label for="floatingInput">Correo Electrónico</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password">
            <label for="exampleInputPassword1">Password</label>
          </div>
          <div class="col-sm">
            <button type="submit" name="submit" class="btn login text-uppercase fw-bold" style="width: 350px; background-color: #CF2F35; color: white;">Iniciar Sesion</button> 
            <br>
            <br>
            <a href="/create_account" class="btn login text-uppercase fw-bold" style="width: 350px; background-color: #FAC401; color: white;" type="submit">Registrar</a>
          </div>
            <hr class="my-4">   
        </form>
        <div class="row">
          <div class="col-sm">
            <a href="/forgot_password" class="text-decoration-none" style="position: relative;left: 95px;">Olvidé mi contraseña</a>
            <br>
            <a href="/solicitudes" class="text-decoration-none" style="position: relative;left: 95px;">Solicita un practicante</a>
            <br>
            <a href="/evaluation" class="text-decoration-none" style="position: relative;left: 95px;">Evalúa tu practicante</a>
          </div>
        </div>   
     </div>
    </form>
  </div>
</div>
</div>
</div>
</div>     

      
    
  
        
{% endblock %}
