{% extends "base.html" %} {% block content %}

<body>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/admin.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/style1.css')}}"
    />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!----===== Boxicons CSS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <div class="text logo-text">
            <span class="name">Generación XXI</span>
            <span class="profession">Navegación</span>
          </div>
        </div>
        <i
          class="bx bx-chevron-right toggle"
          style="background-color: #cf2f35"
        ></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="bx bx-search icon"></i>
            <input type="text" placeholder="Search..." />
          </li>

          <li class="nav-link">
            <i class="bx bxs-user icon"></i>
            <form action="/admin_view" method="post">
              <button
                class="contenedor-btn-file bordeado"
                name="ruta"
                value="admin"
              >
                <span class="btn-file"> Practicantes</span>
              </button>
            </form>
          </li>

          <li class="nav-link">
            <i class="bx bx-bell icon"></i>
            <form action="/admin_view" method="post">
              <button class="contenedor-btn-file bordeado" name="ruta" value="notif">
                <span class="btn-file">Notificaciones</span>
              </button>
            </form>
          </li>

          <li class="nav-link">
            <i class="bx bx-pie-chart-alt icon"></i>
            <form action="/admin_view" method="post">
              <button class="contenedor-btn-file bordeado" name="ruta" value="reportes">
                <span class="btn-file">Reportes</span>
              </button>
            </form>
          </li>
        </div>

        <div class="bottom-content">
          <li class="">
            <a href="/index">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>

          <li class="mode">
            <div class="sun-moon">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>
            <span class="mode-text text">Dark mode</span>
            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>
    
      <section class="home">      
        <section class="main">          
              <div class="users"> 
                <!-- Carta principal de info personal -->
                <div class="card0">
                  <div class="card2">
                    <div class="ul">
                    <div class="cuerpo">
                      <div class="card3">
                        <div class="ul">
                          <button type="button"><img src="{{url_for ('static', filename = './img/flecha.png')}}"height ="30" width="45" /></button>                                                 
                          <div class="text logo-text">
                            <h2 class="fontp" style="color: #cf2f35;" align="left">Generación XXI</h2>
                          </div>
                          <button type="button" class="btn-eval" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Evaluación
                          </button>
                          <button type="button" class="btn-eval" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Evaluación
                          </button>
                          <button type="button" class="btn-eval" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Evaluación
                          </button>
                        </div>
                        <center><hr width="95%"></center>

                        <Head>

                          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">                            
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <div class="ul">                                  
                                  <div class="card4">
                                    <center>
                                    <h3 class="fontp" style="color: #cf2f35;" align="left">Datos Personales</h3>                                
                                    <h6 align="left"><b>Nombre: </b><td>{{ usuario['Nombres'] + " " + usuario['Apellidos']}}</td></h6>                            
                                    <br sice>
                                    <h6 align="left"><b>Cedula: </b><td>{{ usuario['Cedula']}}</td></h6>                                
                                    <br>
                                    <h6 align="left"><b>Edad: </b><td>{{ usuario['Edad']}}</td></h6>                                
                                    <br>                              
                                    <h6 align="left"><b>Genero: </b><td>{{ usuario['Sexo']}}</td></h6>                                
                                    <br>                                
                                    <h6 align="left"><b>Celular: </b><td>{{ usuario['Celular personal']}}</td></h6>                                
                                    <br>
                                    <h6 align="left"><b>Correo: </b><td>{{ usuario['Correo personal']}}</td></h6>                              
                                    <br>
                                    <h6 align="left"><b>Ciudad: </b><td align="left">{{ usuario['Regional']}}</td></h6>                                
                                    <br>
                                  </center>
                                  </div>                                
                                  <div class="card4" align:> 
                                    <center>
                                    <h3 class="fontp" style="color: #cf2f35;" align="left">Datos Corporativos</h3>                             
                                    <h6 align="left"><b>Gerencia: </b><td>{{ usuario['Gerencia']}}</td></h6>
                                    <br>                                 
                                    <h6 align="left"><b>Dirección corporativa: </b><td>{{ usuario['Area de gerencia']}}</td></h6>
                                    <br>                                  
                                    <h6 align="left"><b>Nombre gerente: </b><td>{{ usuario['Nombre gerente']}}</td></h6>
                                    <br>                                      
                                    <h6 align="left"><b>Celular corporativo: </b><td>{{ usuario['Celular corporativo']}}</td></h6>
                                    <br>                                      
                                    <h6 align="left"><b>Correo corporativo: </b><td>{{ usuario['Correo corporativo']}}</td></h6>
                                    <br>                                      
                                    <h6 align="left"><b>Correo gerente: </b><td>{{ usuario['Correo gerente']}}</td></h6>
                                    <br>                                      
                                    <h6 align="left"><b>Celular gerente: </b><td>{{ usuario['Celular gerente']}}</td></h6>                                                                    
                                    <br>
                                  </center>
                                  </div>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <div class="ul">
                                  <div class="card4">                                
                                    <h3 class="fontp" style="color: #cf2f35;" align="left">Datos Académicos</h3>
                                    <h6 align="left"><b>Universidad: </b><td>{{ usuario['Universidad']}}</td></h6>
                                    <br>                                      
                                    <h6 align="left"><b>Carrera: </b><td>{{ usuario['Carrera']}}</td></h6>
                                    <br>                                            
                                    <h6 align="left"><b>Tutor universitario:</b><td>{{ usuario['Nombre tutor']}}</td>  </h6>
                                    <br>                                       
                                    <h6 align="left"><b>Correo del tutor: </b><td>{{ usuario['Correo tutor']}}</td> </h6>
                                    <br>                                       
                                    <h6 align="left"><b>Celular del tutor: </b><td>{{ usuario['Celular tutor']}}</td> </h6>
                                    <br>                                                                        
                                  </div>
                                  <div class="card4">
                                    <h3 class="fontp" style="color: #cf2f35;" align="left">Datos en caso de Emergencia</h3>                                                                                                                 
                                    <h6 align="left"><b>EPS: </b><td>{{ usuario['EPS']}}</td></h6>
                                    <br>
                                    <h6 align="left"><b>En caso de emergencia llamar a: </b><td>{{ usuario['Nombre emergencia']}}</td></h6>
                                    <br>
                                    <h6 align="left"><b>Numero: </b><td>{{ usuario['Numero emergencia']}}</td></h6>
                                    <br>
                                  </div>
                                </div>
                              </div>                              
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                            <div class="carousel-indicators">                            
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>                              
                            </div>
                          </div>
                          <div class="position-relative">  
                            <div class="position-absolute top-0 end-0">
                              
                            </div>
                          </div>
                        </Head>                        
                          <br>                        
                        <div class="ul">
                          <div class="btnAdnim">
                          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 80%;">
                            Editar
                          </button>
                        </div>
                        <div class="btnAdnim">
                          <button type="button" class="btn btn-warning" style="width: 80%;" data-bs-toggle="modal" data-bs-target="#eliminarDatos">
                            Eliminar
                          </button>

                          <div class="modal fade" id="eliminarDatos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Usuario</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <div>
                                      <p>¿Esta seguto que desea eliminar a este usuario?</p>
                                    </div>                                    
                                  </div>
                                  <div class="modal-footer">
                                    <div class="card0">
                                    <div class="ul">
                                      <div class="btnAdnim" >
                                        <button class="btn btn-danger" style="width: 80%;">Si</button>
                                      </div>
                                      <div class="btnAdnim">
                                        <button class="btn btn-warning" style="width: 80%;">No</button>
                                      </div>
                                    </div>
                                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>                        
                        <body>                        
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      {{usuario}}
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </body>                                               
                      </div>
                
                    </div>
                    <div class="cuerpo2">
                      <div>
                        <br>
                        <center><img src="{{l}}" class='imgRedonda' alt = "su imagen fue secuestrada por un alienígena ～～ "/></center>
                        <p></p>
                      <center><div class="card5">
                                <center><h4 style="color: #cf2f35;" >Datos de Contacto</h4></center>
                                PENDIENTE!!!
                                <p>{{usuario['Nombres']}} {{usuario['Apellidos']}}</p>
                                <p>{{usuario['Correo corporativo']}}</p>
                                <p>{{usuario['Celular personal']}}</p>
                              </div>
                      </center>  
                      </div>
                      <div style="position: static;">
                      <center><img src = "{{url_for ('static', filename = './img/claro plano palabra blanco.png')}}" width = "130" height = "45" alt = "su imagen fue secuestrada por un alienígena ～～ "style = "position: relative; top: 80px; left: 100px;" /></center>
                    </div>
                    </div>
                    </div>
                  </div>
                     <div class="position-relative">  
                     
                      
                  </div>
                </div>   
              </div>   
        </section>      
      </section>
  

    <script>
      const body = document.querySelector("body"),
        sidebar = body.querySelector("nav"),
        toggle = body.querySelector(".toggle"),
        searchBtn = body.querySelector(".search-box"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");

      toggle.addEventListener("click", () => {
        sidebar.classList.toggle("close");
      });

      searchBtn.addEventListener("click", () => {
        sidebar.classList.remove("close");
      });

      modeSwitch.addEventListener("click", () => {
        body.classList.toggle("dark");

        if (body.classList.contains("dark")) {
          modeText.innerText = "Light mode";
        } else {
          modeText.innerText = "Dark mode";
        }
      });
    </script>
  </body>
</body>

{% endblock %}
