{% extends "base.html" %} {% block content %}

<body>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/admin.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/style1.css')}}"
    />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!----===== Boxicons CSS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <div class="text logo-text">
            <span class="name">Generación XXI</span>
            <span class="profession">Navegación</span>
          </div>
        </div>
        <i
          class="bx bx-chevron-right toggle"
          style="background-color: #cf2f35"
        ></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="bx bx-search icon"></i>
            <input type="text" placeholder="Search..." />
          </li>

          <li class="nav-link">
            <i class="bx bxs-user icon"></i>
            <form action="/admin_view" method="post">
              <button
                class="contenedor-btn-file bordeado"
                name="ruta"
                value="admin"
              >
                <span class="btn-file"> Practicantes</span>
              </button>
            </form>
          </li>

          <li class="nav-link">
            <i class="bx bx-bell icon"></i>
            <form action="/admin_view" method="post">
              <button class="contenedor-btn-file bordeado" name="ruta" value="notif">
                <span class="btn-file">Notificaciones</span>
              </button>
            </form>
          </li>

          <li class="nav-link">
            <i class="bx bx-pie-chart-alt icon"></i>
            <form action="/admin_view" method="post">
              <button class="contenedor-btn-file bordeado" name="ruta" value="reportes">
                <span class="btn-file">Reportes</span>
              </button>
            </form>
          </li>
        </div>

        <div class="bottom-content">
          <li class="">
            <a href="/index">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>

          <li class="mode">
            <div class="sun-moon">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>
            <span class="mode-text text">Dark mode</span>
            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>

    <section class="home">
      <div class="text logo-text">

      </div>
    </section>

    <script>
      const body = document.querySelector("body"),
        sidebar = body.querySelector("nav"),
        toggle = body.querySelector(".toggle"),
        searchBtn = body.querySelector(".search-box"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");

      toggle.addEventListener("click", () => {
        sidebar.classList.toggle("close");
      });

      searchBtn.addEventListener("click", () => {
        sidebar.classList.remove("close");
      });

      modeSwitch.addEventListener("click", () => {
        body.classList.toggle("dark");

        if (body.classList.contains("dark")) {
          modeText.innerText = "Light mode";
        } else {
          modeText.innerText = "Dark mode";
        }
      });
    </script>
  </body>
</body>

{% endblock %}
