{% extends "base.html" %} {% block content %}

<body>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/admin.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/style1.css')}}"
    />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!----===== Boxicons CSS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <div class="text logo-text">
            <span class="name">Generación XXI</span>
            <span class="profession">Navegación</span>
          </div>
        </div>
        <i
          class="bx bx-chevron-right toggle"
          style="background-color: #cf2f35"
        ></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="bx bx-search icon"></i>
            <input type="text" placeholder="Search..." />
          </li>

          <li class="nav-link">
            
            <form action="/admin_view" method="post">
              
              <button class="contenedor-btn-file bordeado" name="ruta" value="admin">
              <div class="ul">
                <i class="bx bxs-user icon"></i>
                <span class="btn-file"> Practicantes</span>
              </div>
              </button>
            
            </form>
          </li>          

          <li class="nav-link">
            
            <form action="/admin_view" method="post">
              <button class="contenedor-btn-file bordeado" name="ruta" value="reportes">
                <div class="ul">
                  <i class="bx bx-pie-chart-alt icon"></i>
                <span class="btn-file">Reportes</span>
                </div>
              </button>
            </form>
          </li>
        </div>

        <div class="bottom-content">
          <li class="">
            <a href="/index">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>

          <li class="mode">
            <div class="sun-moon">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>
            <span class="mode-text text">Dark mode</span>
            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>
    <section class="home">      
        <section class="maini">  
            <div class="users" style="height: 100%; width: 100%;">                 
                <div class=card0 style="height: 100%; width: 100%;">
                    <div class="backGraundWith" style=" height: 100%; width: 100%;">
                        <div class="card4" style="height: 40%; opacity: 50%;">
                            <img style="height: 100%; width: 100%" src = "{{url_for ('static', filename = './img/PHILIPPINES.jpg')}}"/>
                        </div>
                        <div class="card4" style="height: 60%;">
                            <div class="ul">
                                <div class="Espacio1" style="height: 100%; width: 30%;">
                                    <div class="card" style="width: 95%; height: 50%; position: relative; top: -150px;">     
                                        <br>                                   
                                            <center style="height: 20%;"><img src="{{l}}" style="width: 35%; height: 80%;" /></center>   
                                            <br>                                     
                                            <center><div class="card5">                                                                       
                                                <h4 align = left >{{usuario['Nombres']}} {{usuario['Apellidos']}}</h4>
                                                <div class="ul">                                            
                                                    <img style="height: 7%; width: 7%" src = "{{url_for ('static', filename = './img/telefono.png')}}"/>
                                                    <h5 style="opacity: 0%;">--</h5>
                                                    <h5 align = left style="opacity: 75%;">{{usuario['Correo corporativo']}}</h5>
                                                </div>
                                                <div class="ul">
                                                    <img  style="height: 7%; width: 7%" src = "{{url_for ('static', filename = './img/correo-electronico.png')}}"/>
                                                    <h5 style="opacity: 0%;">--</h5>
                                                    <h5 align = left style="opacity: 75%;">{{usuario['Celular personal']}}</h5>
                                                </div>                                            
                                            </center>                                              
                                            <center><div class="card5">
                                                <form method="post" action="/admin_view" enctype="multipart/form-data">
                                                    <label for="file">Seleccione el plan de desarrollo</label>
                                                        <hr>
                                                            <input type="hidden" name="ruta" value="infopract1">
                                                            <input type="hidden" name="user" value={{usuario}}>
                                                            <input type="hidden" name="foto" value={{l}}>
                                                            <input type="hidden" name="yavee" value={{y}}>
                                                            <input style= "width: 100%;" name="file_plan" id="fileId" type="file" accept=".pdf,.PDF,.Pdf">
                                                            <br>
                                                            <br>
                                                            <button type="submit" style="width: 80%; background-color: #cf2f35; color: #ffff;" name="plandesa" value="{{usuario['Cedula']}}">
                                                                subir
                                                            </button>
                                                        </form>
                                                        {% if smessage %}
                                                            <br>
                                                            <div class="alert alert-success">
                                                                {{ smessage }}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                            </center>
                                    </div>
                                </div>
                                <div class="Espacio2" style="height: 100%; width: 50%;">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" style="height: 100%; width: 95%;">  
                                           
                                        <section class="main" style="width: 100%; height: 100%;">
                                        <div class="carousel-indicators">                            
                                          <button type="button" style="background-color: #cf2f35;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                          <button type="button" style="background-color: #cf2f35;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                          <button type="button" style="background-color: #cf2f35;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                        </div>
                                        </section>

                                    <section class="main" style="width: 100%; height: 100%;">
                                        <div class="carousel-inner" style="height: 100%; width: 100%;">
                                          <div class="carousel-item active" style="width: 100%; height: 100%;">
                                            <div class="ul">
                                              <div class="card9"></div>                                              
                                              <div class="card4">
                                                <center>
                                                <h3 class="fontp" style="color: #cf2f35;" align="left">Datos Personales</h3>                             
                                                <h6 align="left"><b>Nombre: </b><td>{{ usuario['Nombres'] + " " + usuario['Apellidos']}}</td></h6>                            
                                                <br sice>
                                                <h6 align="left"><b>Cedula: </b><td>{{ usuario['Cedula']}}</td></h6>                                
                                                <br>
                                                <h6 align="left"><b>Edad: </b><td>{{ usuario['Edad']}}</td></h6>                                
                                                <br>                              
                                                <h6 align="left"><b>Genero: </b><td>{{ usuario['Sexo']}}</td></h6>                                
                                                <br>                                                                                
                                                <h6 align="left"><b>Ciudad: </b><td align="left">{{ usuario['Regional']}}</td></h6>                                
                                                <br>
                                              </center>
                                              </div>
                                              <div class="card9"></div>
                                              <div class="card4">
                                                <h3 class="fontp" style="color: #cf2f35;" align="left">Datos en caso de Emergencia</h3>                                                                                                                 
                                                <h6 align="left"><b>EPS: </b><td>{{ usuario['EPS']}}</td></h6>
                                                <br>
                                                <h6 align="left"><b>En caso de emergencia llamar a: </b><td>{{ usuario['Nombre emergencia']}}</td></h6>
                                                <br>
                                                <h6 align="left"><b>Numero: </b><td>{{ usuario['Numero emergencia']}}</td></h6>
                                                <br>
                                              </div>                                              
                                              <div class="card9"></div>
                                            </div>
                                          </div>
                                          <div class="carousel-item" style="height: 100%; width: 100%;">
                                            <div class="ul">
                                              <div class="card9"></div>                                                                                           
                                              <div class="card4" align:> 
                                                <center>
                                                <h3 class="fontp" style="color: #cf2f35;" align="left">Datos Corporativos</h3>                             
                                                <h6 align="left"><b>Gerencia: </b><td>{{ usuario['Gerencia']}}</td></h6>
                                                <br>                                 
                                                <h6 align="left"><b>Dirección corporativa: </b><td>{{ usuario['Area de gerencia']}}</td></h6>
                                                <br>                                  
                                                <h6 align="left"><b>Nombre gerente: </b><td>{{ usuario['Nombre gerente']}}</td></h6>
                                                <br>                                      
                                                <h6 align="left"><b>Celular corporativo: </b><td>{{ usuario['Celular corporativo']}}</td></h6>
                                                <br>                                      
                                                <h6 align="left"><b>Correo corporativo: </b><td>{{ usuario['Correo corporativo']}}</td></h6>
                                                <br>                                      
                                                <h6 align="left"><b>Correo gerente: </b><td>{{ usuario['Correo gerente']}}</td></h6>
                                                <br>                                      
                                                <h6 align="left"><b>Celular gerente: </b><td>{{ usuario['Celular gerente']}}</td></h6>                                                                                                                    
                                              </center>
                                              </div>
                                              <div class="card9"></div>
                                            </div>
                                          </div> 
                                          <div class="carousel-item" style="height: 100%; width: 100%;">
                                            <div class="ul">
                                              <div class="card9"></div>                                             
                                              <div class="card4">                                
                                                <h3 class="fontp" style="color: #cf2f35;" align="left">Datos Académicos</h3>
                                                <br>
                                                <h6 align="left"><b>Universidad: </b><td>{{ usuario['Universidad']}}</td></h6>
                                                <br>                                      
                                                <h6 align="left"><b>Carrera: </b><td>{{ usuario['Carrera']}}</td></h6>
                                                <br>                                            
                                                <h6 align="left"><b>Tutor universitario:</b><td>{{ usuario['Nombre tutor']}}</td>  </h6>
                                                <br>                                       
                                                <h6 align="left"><b>Correo del tutor: </b><td>{{ usuario['Correo tutor']}}</td> </h6>
                                                <br>                                       
                                                <h6 align="left"><b>Celular del tutor: </b><td>{{ usuario['Celular tutor']}}</td> </h6>
                                                <br>                                                                        
                                              </div>                                             
                                              <div class="card9"></div>
                                            </div>
                                          </div>                             
                                        </div>
                                    </section>
                                        
                                      </div>
                                </div>
                                <div class="Espacio3" style="background-color: blue; height: 100%; width: 20%;">
zxcz
                                </div>
                            </div>
                        </div>               
                    </div>                
                </div>           
            </div>           
        </section>
    </section>
    <script>
        const body = document.querySelector("body"),
          sidebar = body.querySelector("nav"),
          toggle = body.querySelector(".toggle"),
          searchBtn = body.querySelector(".search-box"),
          modeSwitch = body.querySelector(".toggle-switch"),
          modeText = body.querySelector(".mode-text");
  
        toggle.addEventListener("click", () => {
          sidebar.classList.toggle("close");
        });
  
        searchBtn.addEventListener("click", () => {
          sidebar.classList.remove("close");
        });
  
        modeSwitch.addEventListener("click", () => {
          body.classList.toggle("dark");
  
          if (body.classList.contains("dark")) {
            modeText.innerText = "Light mode";
          } else {
            modeText.innerText = "Dark mode";
          }
        });
      </script>




{% endblock %}