{% extends "base.html" %}

{% block content %}
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/evaluation.css')}}">
    </head>

    <body style="height: 100%; width: 100;"></body>    

<h1>Evaluación Docente - Practicante</h1>
<h5>{{email}}</h5>

        <div class="card">
            <div class="ul">
                <div class="card1">
                    <div class="ul">
                    <div class="card2">
                        <h5 class="lead">Usted está a punto de evaluar a {{Nombres}}</h5>
                    </div>
                    <div class="card3">
                        <div class="cardimage"><img src="{{foto}}"></div>  
                    </div>
                </div>
                </div>                
            </div>
            <div class="cardimage"><img src="{{foto}}"></div>             
        <h1>Evaluación Docente - Practicante</h1>              
        <h5>{{email}}</h5>
        {{user["Nombres"]}} {{user["Apellidos"]}}
        <h5>{{Apellidos}}</h5>
        {{user}}        
        </div>

    </body>
    <div class="card"></div>
</html>
{% endblock %}