{% extends "base.html" %}

{% block content %}
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/evaluation.css')}}">
    </head>
    
    <body style="height: 100%; width: 100;"></body>    

        <div class="card">
            <div class="ul">
                <div class="card1">
                    <div class="ul">
                    <div class="card2">
                        <h5 class="lead">Usted está a punto de evaluar a {{Nombres}}</h5>
                    </div>
                    <div class="card3">
awd
                    </div>
                </div>
                </div>                
            </div>
            <form action="/admin_view" method="post">
                <input type="hidden" value={{email}} name="yave">
            </form>    
        <h1>Evaluación Docente - Practicante</h1>
        <h5>{{datauser}}</h5>
        <h5>{{email}}</h5>
        <h5>{{Apellidos}}</h5>
    </div>

    </body>
    <div class="card"></div>
</html>
{% endblock %}
