{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <fieldset>
            <legend> Datos personales </legend> 
            <h1> Bienvenido  {{ usuario['Nombres']}} </h1>
            <h3> Nombre completo: {{ usuario['Nombres'] + " " + usuario['Apellidos']}}</h3>
            <h3> Cedula: {{ usuario['Cedula']}} </h3>
            <h3> Edad: {{ usuario['Edad']}} </h3>
            <h3> Sexo: {{ usuario['Sexo']}} </h3>
            <h3> Carrera: {{ usuario['Carrera U']}} </h3>
            <h3> Universidad: {{ usuario['Nombre de la U']}} </h3>
            <h3> Celular empresarial: {{ usuario['Celular Empresarial']}} </h3>
            <h3> Correo empresarial: {{ usuario['Correo Empresarial']}} </h3>
            <h3> Correo personal: {{ usuario['Correo Personal']}} </h3>
            <h3> EPS: {{ usuario['EPS']}} </h3>
            <h3> En caso de emergencia numero: {{ usuario['Numero en caso de emergencia']}} </h3>
            <h3> En caso de emergencia nombre: {{ usuario['Nombre de caso de emergencia ']}} </h3>
            <h3> Gerencia: {{ usuario['Gerencia a que pertenece']}} </h3>
            <h3> Area: {{ usuario['Area de Gerencia']}} </h3>
            <h3> Nombre gerente: {{ usuario['Nombre del Gerente ']}} </h3>
            <h3> Nombre tutor u: {{ usuario['Nombre del tutor de la U']}} </h3>
            <h3> Celular tutor u: {{ usuario['Celular del tutor']}} </h3>
            <h3> Correo tutor u: {{ usuario['Correo del tutor ']}} </h3>
          </fieldset>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <p class="copyright text-muted"> &copy; desarrolladores GENERACIÓN XXI </p>
        </div>
    </div>    
<footer> 

{% endblock %}