{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <form action="../../form-result.php" target="_blank">
            <fieldset>
                <br>
                <br>
                <h1> Bienvenido  {{ usuario['Nombres']}} </h1>
                <br>
                <br>
                <legend> Datos personales </legend> 
                <h3> Nombre completo: {{ usuario['Nombres'] + " " + usuario['Apellidos']}}</h3>
                <h3> Cedula: {{ usuario['Cedula']}} </h3>
                <h3> Edad: {{ usuario['Edad']}} </h3>
                <h3> Sexo: {{ usuario['Sexo']}} </h3>
                <h3> Carrera: {{ usuario['Carrera']}} </h3>
                <h3> Universidad: {{ usuario['Universidad']}} </h3>
                <h3> Celular empresarial: {{ usuario['Celular corporativo']}} </h3>
                <h3> Correo empresarial: {{ usuario['Correo corporativo']}} </h3>
                <h3> Correo personal: {{ usuario['Correo personal']}} </h3>
                <h3> EPS: {{ usuario['EPS']}} </h3>
                <h3> En caso de emergencia numero: {{ usuario['Numero emergencia']}} </h3>
                <h3> En caso de emergencia nombre: {{ usuario['Nombre emergencia']}} </h3>
                <h3> Gerencia: {{ usuario['Gerencia']}} </h3>
                <h3> Area: {{ usuario['Area de gerencia']}} </h3>
                <h3> Nombre gerente: {{ usuario['Nombre gerente']}} </h3>
                <h3> Nombre tutor u: {{ usuario['Nombre tutor']}} </h3>
                <h3> Celular tutor u: {{ usuario['Celular tutor']}} </h3>
                <h3> Correo tutor u: {{ usuario['Correo tutor']}} </h3>
            </fieldset>
            <br>
            <br>
            <fieldset>
                <legend> Información personal </legend>
                <p> Nombre completo </p>
            </fieldset>

        </form>
          <div class="col-sm">
            <!--<button type="submit" name="submit" class="btn login text-uppercase fw-bold" style="width: 350px; background-color: #CF2F35; color: white;">Iniciar Sesion</button> -->
            <br>
            <br>
            <a href="/formulario" class="btn login text-uppercase fw-bold" style="width: 350px; background-color: #FAC401; color: white;" type="submit">Actualizar datos</a>
            <br>
            <br>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <p class="copyright text-muted"> &copy; desarrolladores GENERACIÓN XXI </p>
        </div>
    </div>    
<footer> 

{% endblock %}