{% extends "base.html" %}

{% block content %}

<body>
<div class="container">
    <div class="row">
        <form action="/view_personal_data" method="post">
            <br>
            <br>
            <h1 style="color:#CF2F35"> Bienvenido  {{ usuario['Nombres']}} </h1>
            <br>
            {% if smessage %}
                <div class="alert alert-success">
                    {{ smessage }}
                </div>
            {% endif %}
            <br>
            
            <legend class="text-danger font-weight-bold"> Datos personales: </legend>
            <fieldset class="card p-3 bg-light.bg-gradient border border-danger"> 
                <h3> Nombre completo: {{ usuario['Nombres'] + " " + usuario['Apellidos']}}</h3>
                <h3> Cedula: {{ usuario['Cedula']}} </h3>
                <h3> Edad: {{ usuario['Edad']}} </h3>
                <h3> Sexo: {{ usuario['Sexo']}} </h3>
                <h3> Correo: {{ usuario['Correo personal']}} </h3>
            </fieldset>

            <br>
            <br>

            <legend class="text-danger font-weight-bold"> Datos laborales: </legend>
            <fieldset class="card p-3 bg-light.bg-gradient border border-danger"> 
                <h3> Gerencia: {{ usuario['Gerencia']}} </h3>
                <h3> Dirección corporativa: {{ usuario['Area de gerencia']}} </h3>
                <h3> Nombre gerente: {{ usuario['Nombre gerente']}} </h3>
                <h3> Celular corporativo: {{ usuario['Celular corporativo']}} </h3>
                <h3> Correo corporativo: {{ usuario['Correo corporativo']}} </h3>
            </fieldset>
            
            <br>
            <br>

            <legend class="text-danger font-weight-bold"> Datos academicos: </legend>
            <fieldset class="card p-3 bg-light.bg-gradient border border-danger"> 
                <h3> Universidad: {{ usuario['Universidad']}} </h3>
                <h3> Carrera: {{ usuario['Carrera']}} </h3>
                <h3> Tutor universitario: {{ usuario['Nombre tutor']}} </h3>
                <h3> Correo del tutor: {{ usuario['Correo tutor']}} </h3>
                <h3> Celular del tutor: {{ usuario['Celular tutor']}} </h3>
            </fieldset>
            
            <br>
            <br>

            <legend class="text-danger font-weight-bold"> Datos en caso de emergencia: </legend>
            <fieldset class="card p-3 bg-light.bg-gradient border border-danger"> 
                <h3> EPS: {{ usuario['EPS']}} </h3>
                <h3> En caso de emergencia llamar a: {{ usuario['Nombre emergencia']}} </h3> 
                <h3> Numero: {{ usuario['Numero emergencia']}} </h3>
            </fieldset>
            <div class="col-sm">
                <br>
                <input id="email" name="email" type="hidden" value="{{usuario['Correo corporativo']}}">
                <br>
                <button class="btn login text-uppercase fw-bold" style="width: 350px; background-color: #FAC401; color: white;" type="submit" name="email" value="{{usuario['Correo Corporativo']}}">Actualizar datos</button>
                <br>
        </form>
          
        </div>
    </div>
</div>
</body>

<br>
<br>

<footer>
    <div class="container">
        <div class="row">
            <p class="copyright text-muted"> &copy; desarrolladores GENERACIÓN XXI </p>
        </div>
    </div>    
<footer> 

{% endblock %}